
 <div id="girl" class="parallax-container valign-wrapper">
      <div class="container">
          <div class="row">
              <div class="col l11 s12 white-text">
                  <h3 class="thin-text valign" style="text-align:center">On the road alone? Need a ride?<br> Welcome to Hitchr!</h3>
              </div>
          </div>
          <div class="row">
              <div class="col l2"></div>
              <div class="col l4">
                  <a class="wave-effect btn-large hoverable red accent-2" href="#register">Become A Member</a>
                  <div id="register" class="modal">
                      <div class="modal-content" id="reg_modal">
                          <form action="/users/create" method="post">
                              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                              <div class="row">
                                  <div class="col s2"></div>
                                  <div class="input-field col s4">
                                    <input placeholder="First Name" name="f_name" type="text" class="validate">
                                    <label for="f_name">First Name</label>
                                  </div>
                                  <div class="input-field col s4 ">
                                      <input placeholder="Last Name" name="l_name" type="text" class="validate">
                                      <label for="l_name">Last Name</label>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col s2"></div>
                                  <div class="input-field col s4">
                                      <input placeholder="Email" name="email" type="email" class="validate">
                                      <label for="email">Email</label>
                                  </div>
                                  <div class="input-field col s4 ">
                                      <input placeholder="Phone" name="phone" type="text" class="validate">
                                      <label for="phone">Phone</label>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col s2"></div>
                                  <div class="input-field col s4">
                                    <input placeholder="Password" name="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                  </div>
                                  <div class="input-field col s4 ">
                                      <input placeholder="PW Confirmation" name="password_confirmation" type="password" class="validate">
                                      <label for="password_confirmation">PW Confirmation</label>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col s2"></div>
                                  <div class="input-field col s2">
                                    <input placeholder="Number" name="street_num" type="text" class="validate">
                                    <label for="street_num">Street Number</label>
                                  </div>
                                  <div class="input-field col s3">
                                    <input placeholder="Street Name" name="street" type="text" class="validate">
                                    <label for="street">Street Name</label>
                                  </div>
                                  <div class="input-field col s3">
                                      <input placeholder="City" name="city" type="text" class="validate">
                                      <label for="city">City</label>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col s2"></div>
                                  <div class="input-field col s4">
                                      <select name="state">
                                             <option value="" disabled selected>State</option>
                                             <option value="AL">Alabama</option>
                                             <option value="AK">Alaska</option>
                                             <option value="AZ">Arizona</option>
                                             <option value="AR">Arkansas</option>
                                             <option value="CA">California</option>
                                             <option value="CO">Colorado</option>
                                             <option value="CT">Connecticut</option>
                                             <option value="DC">District of Columbia</option>
                                             <option value="DE">Delaware</option>
                                             <option value="FL">Florida</option>
                                             <option value="GA">Georgia</option>
                                             <option value="HI">Hawaii</option>
                                             <option value="ID">Idaho</option>
                                             <option value="IL">Illinois</option>
                                             <option value="IN">Indianna</option>
                                             <option value="IA">Iowa</option>
                                             <option value="KS">Kansas</option>
                                             <option value="KY">Kentucky</option>
                                             <option value="LA">Louisiana</option>
                                             <option value="ME">Maine</option>
                                             <option value="MD">Maryland</option>
                                             <option value="MA">Massachusetts</option>
                                             <option value="MI">Michigan</option>
                                             <option value="MN">Minnesota</option>
                                             <option value="MS">Mississippi</option>
                                             <option value="MO">Missouri</option>
                                             <option value="MT">Montana</option>
                                             <option value="NE">Nebraska</option>
                                             <option value="NV">Neveda</option>
                                             <option value="NH">New Hampshire</option>
                                             <option value="NJ">New Jersey</option>
                                             <option value="NM">New Mexico</option>
                                             <option value="NY">New York</option>
                                             <option value="NC">North Carolina</option>
                                             <option value="ND">North Dakota</option>
                                             <option value="OH">Ohio</option>
                                             <option value="OK">Oklahoma</option>
                                             <option value="OR">Oregon</option>
                                             <option value="PA">Pennsylvania</option>
                                             <option value="RI">Rhode Island</option>
                                             <option value="SC">South Carolina</option>
                                             <option value="KS">South Dakota</option>
                                             <option value="TN">Tennessee</option>
                                             <option value="TX">Texas</option>
                                             <option value="UT">Utah</option>
                                             <option value="VT">Vermont</option>
                                             <option value="VA">Virginia</option>
                                             <option value="WA">Washington</option>
                                             <option value="WV">West Virginia</option>
                                             <option value="WI">Wisconsin</option>
                                             <option value="WY">Wyoming</option>
                                         </select>
                                    <label for="state">State</label>
                                  </div>
                                  <div class="input-field col s4 ">
                                      <input placeholder="Zipcode" name="zipCode" type="text" class="validate">
                                      <label for="zipCode">Zip Code</label>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col s3"></div>
                                  <div class="input-field col s6">
                                       <input placeholder="Birthday" name="bday" type="date" class="validate datepicker">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col s3"></div>
                                  <div class="col s3">
                                      <button id="login_button" class="btn waves-effect green hoverable" type="submit" name="action">Register</button>
                                  </div>
                                  <div class="col s3">
                                      <a href="" class="modal-action modal-close btn waves-effect green hoverable">Back</a>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col l4">
                  <a class="wave-effect btn-large hoverable green" href="#login">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                  <div id="login" class="modal">
                    <div class="modal-content">
                        <form action="/sessions/create" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <div class="row">
                                <div class="col s2"></div>
                                <div class="input-field col s4 ">
                                   <input placeholder="Email" id="email" type="text" name="email" class="validate">
                                   <label for="email">Email</label>
                                </div>
                                <div class="input-field col s4">
                                  <input placeholder="Password" id="password" type="password" name="password" class="validate">
                                  <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3"></div>
                                <div class="col s3">
                                    <button id="login_button" class="btn waves-effect blue hoverable" type="submit" name="action">Login</button>
                                </div>
                                <div class="col s3">
                                    <a href="" class="modal-action modal-close btn waves-effect blue hoverable">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="parallax"><%= image_tag "girl.jpg" %></div>
 </div>
 <div class="section red lighten-1 hoverable">
   <div class="row container">
     <h2 class="header center white-text">How It Works</h2>
   </div>
 </div>
 <div id="road" class="parallax-container valign-wrapper">
     <div class="container center-align">
         <div id="driver" class="row valign">
             <div class="col l6 m12 s12">
                 <div class="card medium thin-text white-text hoverable">
                     <h3 class="center-align">For Drivers</h3>
                     <div class="divider"></div>
                     <br />
                     <h4 class="center-align"><i class="material-icons">chrome_reader_mode</i> Post Your Trip</h4>
                     <h4 class="center-align"><i class="material-icons">people</i> Book The Riders</h4>
                     <h4 class="center-align"><i class="material-icons">attach_money</i> Get There, For Less.</h4>
                 </div>
             </div>
             <div class="col l6 m12 s12">
                 <div class="card medium thin-text white-text hoverable">
                     <h3 class="center-align">For Riders</h3>
                     <div class="divider"></div>
                     <br />
                     <h4 class="center-align"><i class="material-icons">search</i> Search The Route</h4>
                     <h4 class="center-align"><i class="material-icons">people</i> Book The Trip</h4>
                     <h4 class="center-align"><i class="material-icons">attach_money</i> Get There, For Less.</h4>
                 </div>
             </div>
         </div>
     </div>
     <div class="parallax"><<%= image_tag "road.jpg" %></div>
   </div>

<div class="section red lighten-1 hoverable">
 <div class="row container">
   <h2 class="header center white-text">List of available trips in your area
</h2>
 </div>
</div>

 <div id="maps" class="container align-wrapper">
     <br />
     <br />
     <% @trips.each do |trip|%>
         <div class="row">
          <table class="striped thin-text">
            <thead>
                <tr>
                  <th>Leave From</th>
                  <th>Destination</th>
                  <th>Leave On</th>
                  <th>$$ Per Rider</th>
                  <th>Seats Available</th>
                  <th>Vehicle</th>
                  <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td><%= trip.dCity %>, <%= trip.dState %></td>
                  <td><%= trip.aCity %>, <%= trip.aState %></td>
                  <td><%= trip.dDate.to_date %></td>
                  <td>$<%= trip.price %></td>
                  <td> # of <%= trip.car.seats %></td>
                  <td><%= trip.car.year %> <%= trip.car.make %> <%= trip.car.model %></td>
                  <td><a class="waves-effect green btn hoverable" href="">Details</a></td>
                </tr>
              <tr>
            </tbody>
          </table>
        </div>
        <div class="center-align">
          <iframe
              width="900"
              height="450"
              frameborder="0" style="border:1"
              src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCGkc4zfM8yunEOefOTtYk2C8HN9QYuu7w&origin=<%=trip.dStreetNum%>+<%=trip.dStreet%>,<%=trip.dCity%>,<%=trip.dState%>&destination=<%=trip.aStreetNum%>+<%=trip.aStreet%>,<%=trip.aCity%>,<%=trip.aState%>" allowfullscreen>
          </iframe>
        </div>
          <br />
          <br />
          <% end %>
 </div>

 <footer class="page-footer red lighten-1 hoverable">
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright NAJZ Inc.
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
</footer>
