<!DOCTYPE html>
<html>
  <head>
    <title>HitchrIII</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <!--Import Google Icon Font-->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
         #logo{
             margin-top: 5px;
             margin-left: 80px;
             font-weight: 300;
             font-size: 45px;
         }
         #nav{
             height: 80px;
         }
         body {
             min-height: 200vh;
         }
         #girl{
             height: 750px;
         }
         #road{
             height: auto;
         }
         .thin-text{
             font-weight: 300;
             background: rgba(96,125,139,.4);
             padding: 40px;
             border-radius: 10px;
         }
         #reg_modal{
             height:800px;
         }
         #toast-container {
          top: auto !important;
          right: auto !important;
          top:10%;
          left:5%;
          position:left;
        }
         .modal{
             width: 50% !important;
             max-height: 110%  !important;
         }
    </style>
  </head>

  <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>


      <% if flash[:success] %>
      <% flash[:success].each do |message| %>
      <script>Materialize.toast("<%= message %>", 4000, 'rounded green');</script>
      <% end %>
      <% end %>

      <% if flash[:error] %>
      <% flash[:error].each do |message| %>
      <script>Materialize.toast("<%= message %>", 6000, 'rounded red');</script>
      <% end %>
      <% end %>

      <%= yield %>
  </body>
</html>
<script>
    $(document).ready(function(){
           $('.parallax').parallax();
           $('ul.tabs').tabs();
           $('.modal').modal();
           $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 80 // Creates a dropdown of 15 years to control year
            });
    });
</script>
